<h1> <%= full_name %> </h1>

<p> <%= @user.username %> </p>

<P> <%= @profile.biography %> </p>

<% @user_products.each do |product| %>
    <%= link_to product.name, product_path(product)%>
<% end %>



