// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.jumbotron {
    background-color: #EF9B0F;
    :is(h1,p) {
        color: white;
    }
}

.container-fluid {
    .thumbnail-home {
        height: 228px;
        width: 341px;
    }
}

