// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Change Profile picture height and width


.main-container {
    position: absolute;
    top: 20vh;
    left: 20em;
    max-width: 50rem;
    margin: 0;
    .thumbnail {
        height: 30%;
        height: 30%;
    }
}

.profile-info {
    position: absolute;
    top: 20vh;
    left: 60em;
    height: 35.75rem;
    width: 30%;
    .footer {
        height: 6em;
    }
}